<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.itesa.adamaris.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_signin"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Splash" >
        </activity>
        <activity
            android:name=".activities.Personal_Agenda"
            android:label="@string/title_activity_personal__agenda" >
        </activity>
        <activity
            android:name=".activities.Personal"
            android:label="@string/title_activity_personal" >
        </activity>
        <activity
            android:name=".activities.PersonalAdapter"
            android:label="@string/title_activity_personal_adapter" >
        </activity>
        <activity
            android:name=".activities.Personal_DataSource"
            android:label="@string/title_activity_personal__data_source" >
        </activity>
        <activity
            android:name=".activities.School_Agenda"
            android:label="@string/title_activity_school__agenda" >
        </activity>
        <activity
            android:name=".activities.TableTime"
            android:label="@string/title_activity_table_time" >
        </activity>
        <activity
            android:name=".prueba"
            android:label="@string/title_activity_prueba" >
        </activity>
    </application>

</manifest>
